/*I don't need to explain this.*/
body {
    background-color: slategray;
    font-family: Arial, sans-serif;
}

#gameCanvas {
    display: inline-block;
    vertical-align: top;
}

#controls {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}

#controls button {
    margin: 5px 0;
    padding: 10px 20px;
    font-size: 16px;
    display: block;
    border-radius: 8px;
}

#controls button:enabled:hover {
    background-color: lightgray;
    cursor: pointer;
}

#stopButton:enabled {
    background-color: crimson;
}

#stopButton:enabled:hover {
    background-color: darkred !important;
    cursor: grab !important;
}

canvas:hover{
    cursor: none;
}

#controls button:disabled {
    background-color: gray;
    cursor: not-allowed;
}

#speed:hover{
    cursor: ew-resize;
}
#brushKernel, #kernelKernel{
    display: block;
    border-top-color: #777;
    border-left-color: #777;
    border-bottom-color: black;
    border-right-color: black;
    border-style: solid;
    border-radius: 8px;
    border-width: 2px;
    background-color: #aaa;
    width: fit-content;
    height: fit-content;
}